<h2 [innerHtml]="mediaItem.name | highlight: searchText"></h2>
<div *ngIf="mediaItem.watchedOn">
  Watched on {{ mediaItem.watchedOn | date: "shortDate" }}
</div>
<div>{{ mediaItem.category }}</div>
<div>{{ mediaItem.year }}</div>
<div class="tools">
  <i
    class="fa fa-heart favorite"
    [mwFavorite]="mediaItem.isFavorite"
    [class.is-favorite]="mediaItem.isFavorite"
    (click)="onFavorite()"
  ></i>
  <a class="delete" (click)="onDelete()"> remove </a>
  <a class="edit" routerLink="/edit"> edit </a>
</div>
