<nav>
  <a>
    <img routerLink="/" src="assets/04.png" class="icon" title="All" />
  </a>
  <a>
    <img routerLink="/Movies" src="assets/03.png" class="icon" title="Movies" />
  </a>
  <a>
    <img routerLink="/Series" src="assets/02.png" class="icon" title="Series" />
  </a>
  <a routerLink="/add" title="Add new item">
    <img class="icon" class="icon plus-icon" src="assets/01.png" />
  </a>
</nav>
<section>
  <header>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of the media I want to watch.</p>
  </header>
  <router-outlet></router-outlet>
</section>
